@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__links/header__links.css);
@import url(../blocks/header/__link/header__link.css);
@import url(../blocks/header/__link-text/header__link-text.css);
@import url(../blocks/header/__link-text/_active/header__link-text_active.css);
@import url(../blocks/container/container.css);
@import url(../blocks/link/link.css);
@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__pic-container/lead__pic-container.css);
@import url(../blocks/lead/__pic/lead__pic.css);
@import url(../blocks/lead/__pic-subtitle/lead__pic-subtitle.css);




.info {
    max-width: 980px;
    padding: 0;
    margin: 0 auto 73px;
}

.info__title {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 1;
    text-rendering: optimizeLegibility;
    text-decoration: none;
    color: #2E3D41;
    padding: 0;
    margin: 0 0 26px;
}

.info__text {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    text-rendering: optimizeLegibility;
    text-decoration: none;
    color: #2E3D41;
    max-width: 980px;
    text-align: justify;
    padding: 0;
    margin: 0 0 15px;
}

.info__text-span-accent {
    font-weight: 700;
}

.info__text-link {
    color: #2E3D41;
    text-decoration: underline;
}